
<ion-content no-padding>/
    <ion-navbar no-padding>
        <ion-title>{{'CALCULATE_SHIPPING' | translate}}</ion-title>
        <ion-buttons end>
          <button ion-button icon-only tappable (click)="close()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>

  <form [formGroup]="form" novalidate>

    <ion-list no-lines>

      <ion-item no-padding>
        <ion-label stacked>{{'COUNTRY'|translate}}</ion-label>
        <ion-select formControlName="country" [selectOptions]="countryOpts" cancelText="Cancel" okText="Select"
          required (ionChange)="getStates()">
          <ion-option *ngFor="let x of countries" [value]="x.id" [innerHTML]="x.name"></ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding *ngIf="states.length > 0">
        <ion-label stacked>{{'STATE'|translate}}</ion-label>
        <ion-select formControlName="state" [selectOptions]="stateOpts" cancelText="Cancel" okText="Select">
          <ion-option *ngFor="let x of states" [value]="x.id" [innerHTML]="x.name"></ion-option>
        </ion-select>
      </ion-item>
<!-- 
      <ion-item no-padding *ngIf="states.length == 0">
        <ion-label stacked>{{'STATE'|translate}}</ion-label>
        <ion-input formControlName="state" type="text"></ion-input>
      </ion-item> -->

      <ion-item no-padding>
        <ion-label stacked>{{'POSTCODE'|translate}}</ion-label>
        <ion-input formControlName="postcode" type="number" inputmode="numeric" pattern="[0-9]*" [dir]="dir"></ion-input>
      </ion-item>

    </ion-list>
  </form>

</ion-content>
<ion-footer>
  <button ion-button full class="accent-background" icon-end tappable (click)="submit()">
    {{"DONE" | translate}}
  </button>
</ion-footer>
