page-downloads {
    .loader_outer {
        height: 100%;
        display: flex;
        align-items: center;
      }
      .div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }
}
