page-wishlist {
  .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  ion-icon {
    display: inline-block;
    font-size: 4rem;
  }
  rating{
    @include float(start);
  
  ul {
    padding: 0px;
    margin: 0px;

    &.rating li {
      @include padding(0px !important,null ,null ,null);
      @include padding(null,2px !important ,null ,null);
      @include padding(null,null ,0px !important ,null);
      @include padding(null,null ,null ,0px !important);
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 15px;
      }
    }
  }
}
}
