page-coupon {
  .title.title-md {
    position: absolute;
    @include position(0px, null, null, 0px);
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .scroll-content {
    background: #f5f5f5;
    padding: 10px;

    .coupon-list {
      .item.coupon{
        .label{
          @include margin(null,null,null,8px);
        }
      }
      .coupon_code_name{
        span{
          font-size: 1.7rem;
          font-weight: bold;
        }
      }
      .coupon_desc{
        p{
          &:nth-of-type(1){
            font-size:1.2rem;
            color: #b0b0b0;
          }
          span{
            font-size:1.2rem;
            color: #333333;
          }
        }
      }
    //   .coupon {
    //     margin-bottom: 8px;
    //     box-shadow: 1px 1px 3px #ccc;
    //     align-items: stretch;

    //     .coupon_code_name {
    //       background: #b7e6b7;
    //       margin: 0 !important;
    //       padding: 6px;
    //       color: #757575;
    //       display: inline-flex;
    //       align-items: center;
    //       flex-direction: column;
    //       justify-content: center;
    //       border: 2px solid #b7e6b7;
    //       width: 28%;
    //       word-break: break-word;

    //       span {
    //         &:last-child {
    //           color: #000;
    //         }
    //       }
    //     }

    //     .item-inner {
    //       border: 2px dotted #f5f5f5 !important;
    //       @include margin(null, null, null, -2px);
    //       border-left-color: #fff !important;
    //       @include padding(null, 0px, null, null);

    //       .input-wrapper {
    //         .label-md {
    //           @include margin(4px, 8px, 4px, 0px);

    //           .coupon_desc {
    //             overflow: visible;
    //             white-space: unset;
    //             text-overflow: unset;
    //             display: flex;
    //             justify-content: space-between;
    //             flex-direction: column;
    //             height: 100%;
    //           }
    //         }
    //       }

    //       .button {
    //         width: 20%;
    //         height: 30px;
    //       }
    //     }
    //   }
     }
  }

  .coupon_enter_bar {
    margin: 10px;
    border: 1px solid #ccc !important;
    @include padding(null, null, null, 10px !important);
    width: auto;
    border-radius: 3px;
    min-height: auto;

    img {
      margin: 0 !important;
    }

    .item-inner {
      @include padding(null, 0px !important, null, null);

      .button {
        margin: 0;
        height: 100%;
        width: 100px;
      }

      .input-wrapper {
        .input {
          .text-input::placeholder {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}