page-home {
  .fade {
    border-radius: 2px;
  }

  .banner-slide {
    .swiper-container {
      height: 160px !important;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: var(--primary_color);
    }
  }

  ion-slides {
    height: auto;

    .slide-zoom {
      .banner_img {
        border-radius: 10px;
        width: 95% !important;
        height: 100%;
        object-fit: cover;
      }

      height: 100%;
    }
  }
}
