<ion-header>

  <ion-navbar>
    <ion-title>
      <span [innerHTML]="product.name"></span>
    </ion-title>
    <ion-buttons end>
      <button mode="md" ion-button clear icon-only (click)="showSearch()">
        <ion-icon name="md-search"></ion-icon>
      </button>
      <button mode="md" ion-button icon-only (click)="goTo('WishlistPage')">
        <ion-badge *ngIf="wishlist.total && wishlist.total > 0">{{wishlist.total}}</ion-badge>
        <ion-icon name="md-heart"></ion-icon>
      </button>
      <button mode="md" ion-button clear icon-only (click)="goTo('CartPage')">
        <ion-badge *ngIf="settings.all && settings.cartCount > 0">{{settings.cartCount}}</ion-badge>
        <ion-icon name="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-slides #slider pager class="header-image" [dir]="dir">
    <ion-slide *ngFor="let x of product.images">
      <img-loader [src]="x.src" (click)="zoomImage(x.src,x.name)"></img-loader>
    </ion-slide>
  </ion-slides>
  <button class="fav_single" tappable (click)="setFav(product)" ion-button clear icon-only>
    <ion-icon no-padding name="heart{{!wishlist.isFav(product) ? '-outline' : ''}}"></ion-icon>
  </button>
  <ion-badge class="discount" *ngIf="product.on_sale">{{product | discount}}</ion-badge>

  <div padding-left padding-right class="single-product-section">
    <ion-row no-padding align-items-center>
      <ion-col col-75 no-padding>
        <h3 item-start [innerHTML]="product.name"></h3>
      </ion-col>
      <ion-col col-auto no-padding>
        <button item-end ion-button icon-only clear tappable (click)="share(product)" color="dark">
          <ion-icon no-padding name="md-share"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <!--Short Description-->
    <div class="product_shot_desc" [innerHTML]="product.short_description"></div>
    <!--Product price and stock availability-->
    <div class="price_n_stock">
      <h5 [innerHTML]='product.price_html'> </h5>
      <span [class]="product.in_stock?'in-stock':'out-stock'"></span>
    </div>

    <div class="price_n_stock" *ngIf="product.on_sale">
      <ul>
        <li>
          <h6>{{'YOU_SAVE' | translate}}</h6>
        </li>
        <li> <span>{{product.regular_price - product.sale_price | money: settings.all.settings}}</span></li>
      </ul>
    </div>

    <!-- <div class="product_rating">
      <rating *ngIf="product.average_rating" item-start max="5" readOnly="true" [(ngModel)]="product.average_rating"
        class="rating">
      </rating>
      ({{product.rating_count || 0}})
      <span tappable (click)="goTo('ReviewsPage',product)" class="review">{{"SEE_ALL_REVIEWS" | translate}}</span>
    </div> -->
    <!-- <div style="margin: 12px 0px 8px; font-weight: 600; font-size: 1.6rem;">
      Darkar 24 chhungin kan deliver thei
    </div> -->


    <!--Quantity-->
    <div class="product_quantity" no-padding no-lines
      *ngIf="!product.sold_individually && (product.type=='simple' || product.type=='variable')">
      <p>{{'QUANTITY' | translate}}</p>
      <div class="center">
        <button ion-button icon-only clear color="dark" (click)="decreaseQuantity()">
          <ion-icon name="remove" color="light"></ion-icon>
        </button>
        <span class="border">{{product.quantity}}</span>
        <button ion-button icon-only clear color="dark" (click)="increaseQuantity()">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </div>
  </div>
  <div padding-left padding-right class="single-product-section">
    <div class="product_rating">
      <rating *ngIf="product.average_rating" item-start max="5" readOnly="true" [(ngModel)]="product.average_rating"
        class="rating">
      </rating>
      ({{product.rating_count || 0}})
      <span tappable (click)="goTo('ReviewsPage',product)" class="review">{{"SEE_ALL_REVIEWS" | translate}}</span>
    </div>
  </div>

  <div padding-left padding-right class="single-product-section"
    *ngIf="product.variations.length > 0 && product.attributes.length > 0">
    <ion-list mode="md">
      <ion-list-header no-padding mode="md">
        {{'VARIATION' | translate}}
      </ion-list-header>
      <ion-row>
        <ion-col col-12 no-padding *ngFor="let attribute of Attributes;">
          <ion-item no-padding class="no-lines">
            <ion-label stacked></ion-label>
            <ion-select [(ngModel)]="attr[attribute.slug]" let i=index interface="popover" (ionChange)="onChange()"
              [placeholder]="attribute.name" [selectOptions]="{cssClass:'full-popup'}">
              <ng-container *ngFor="let option of attribute.options">
                <ion-option [value]="option.slug" *ngIf='option && option.slug'>{{option.name}}</ion-option>
                <ion-option [value]="option" *ngIf='option && !option.slug'>{{option}}</ion-option>
              </ng-container>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

  <div padding-left padding-right class="single-product-section" *ngIf="product.grouped_products.length > 0">
    <ion-list mode="md" class="grouped_products">
      <ion-list-header mode="md" no-padding>
        {{'GROUPED_PRODUCTS' | translate}}
      </ion-list-header>
      <ng-container *ngFor="let groupItems of product.grouped_products; let i = index">
        <ion-item no-padding *ngIf="groupItems.sold_individually && groupItems.type!=='variable'">
          <ion-label [innerHTML]="groupItems.name">
          </ion-label>
          <ion-checkbox (ionChange)="onCheckChange($event,groupItems)" item-end></ion-checkbox>
        </ion-item>
        <ion-item no-padding *ngIf="!groupItems.sold_individually && groupItems.type!=='variable'">
          <ion-label [innerHTML]="groupItems.name"></ion-label>
          <div item-end class="center">
            <button margin-end ion-button icon-only clear color="dark" (tap)="decreaseQuantity(i)">
              <ion-icon name="remove"></ion-icon>
            </button>
            <span class="border" [innerHtml]="groupItems.quantity || 0"></span>
            <button margin-start ion-button icon-only clear color="dark" (tap)="increaseQuantity(i)">
              <ion-icon name="add"></ion-icon>
            </button>
          </div>
        </ion-item>
        <ion-item no-padding *ngIf="groupItems.type==='variable'" (tap)="goTo('ProductdetailPage',groupItems)">
          <ion-label [innerHTML]="groupItems.name"></ion-label>
          <div item-end>
            <u> {{'SELECT_OPTIONS' | translate}} </u>
          </div>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>

  <div padding-left padding-right class="single-product-section" *ngIf="this.settings.all.appSettings.pincode_active">
    <ion-list class="delivery_option" no-lines mode="md" no-padding>
      <ion-list-header mode="md" no-padding>
        {{'DELIVERY_OPTIONS' | translate}}
      </ion-list-header>
      <ion-item class="del_option" *ngIf="postcodeEnter" no-padding>
        <ion-label stacked>
          {{'ENTER_POSTCODE' | translate}}
        </ion-label>
        <ion-input type="number" [(ngModel)]="newPostCode" clearInput [dir]='dir'></ion-input>
        <button ion-button clear item-end class="accent" tappable
          (click)="submitPincodeCheck(newPostCode)">Apply</button>
      </ion-item>
      <ion-item *ngIf="!postcodeEnter" no-padding>
        <div class="delivery_availablity" *ngIf="!deliveryDetails.delivery">Delivery not available at - &nbsp;
          <span>{{postcode}}
          </span></div>
        <div class="delivery_availablity" *ngIf="deliveryDetails.delivery">Delivery available at - &nbsp;
          <span>{{postcode}}
          </span></div>
        <button ion-button icon-only item-end clear class="accent" tappable (click)="submitPincodeCheck()">
          CHANGE
        </button>
      </ion-item>

      <ion-row *ngIf="!postcodeEnter && postcode && deliveryDetails.delivery" no-padding>
        <ion-col col-4 no-padding>
          <div>
            <p>
              <ion-icon name="ios-compass-outline"></ion-icon>
            </p>
            <p>Location</p>
            <p [innerHTML]="deliveryDetails.state+', '+deliveryDetails.city"></p>
          </div>
        </ion-col>
        <ion-col col-4 no-padding>
          <div>
            <p>
              <ion-icon name="ios-calendar-outline"></ion-icon>
            </p>
            <p>Delivery By</p>
            <p [innerHTML]="deliveryDetails.delivery_date"></p>
          </div>
        </ion-col>
        <ion-col col-4 no-padding>
          <div>
            <p>
              <ion-icon name="ios-cash-outline"></ion-icon>
            </p>
            <p>COD</p>
            <p [innerHTML]="deliveryDetails.cod_message"></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

  <div padding-left padding-right class="single-product-section">
    <ion-list no-lines mode="md" class="specs" no-padding>
      <ion-list-header mode="md" no-padding>
        {{'SPECIFICATION' | translate}}
      </ion-list-header>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col col-4 no-padding>{{'CATEGORY' | translate}}</ion-col>
          <ion-col col-8 no-padding>
            <span *ngFor="let cat of product.categories" [innerHTML]="cat.name"></span>
          </ion-col>
        </ion-row>
        <ion-row no-padding *ngIf="product.total_sales">
          <ion-col col-4 no-padding>{{'TOTAL_SALES' | translate}}</ion-col>
          <ion-col col-8 no-padding>
            {{product.total_sales}}
          </ion-col>
        </ion-row>
        <ion-row no-padding *ngIf="product.sku">
          <ion-col col-4 no-padding>{{'SKU' | translate}}</ion-col>
          <ion-col col-8 no-padding>
            {{product.sku}}
          </ion-col>
        </ion-row>
        <ion-row no-padding *ngIf="product.stock_quantity && product.in_stock">
          <ion-col col-4 no-padding>{{'STOCK' | translate}}</ion-col>
          <ion-col col-8 no-padding>
            {{product.stock_quantity}}
          </ion-col>
        </ion-row>
        <ion-row no-padding *ngIf="product.weight">
          <ion-col col-4 no-padding>{{'WEIGHT' | translate}}</ion-col>
          <ion-col col-8 no-padding>
            {{product.weight}}
          </ion-col>
        </ion-row>
        <ion-row no-padding *ngFor="let att of product.attributes">
          <ion-col col-4 no-padding>{{ att.name}}</ion-col>
          <ion-col col-8 no-padding *ngIf="att.options">
            <ng-container *ngFor="let option of att.options">
              <span *ngIf="option.slug"> {{ option.name }}</span>
              <span *ngIf="!option.slug"> {{ option}}</span>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>


  <div padding-left padding-right class="single-product-section" *ngIf="product.description">
    <ion-list no-lines mode="md" no-padding>
      <ion-list-header mode="md" no-padding>
        {{'DESCRIPTION' | translate}}
      </ion-list-header>
      <ion-item no-lines no-padding text-wrap>
        <div [innerHTML]="product.description.replace(pattern,'')"></div>
      </ion-item>
    </ion-list>
  </div>

  <div class="product-slider single-product-section" *ngIf="product.upsell_ids.length>0 && product.upsell">
    <ion-list-header no-lines mode="md">
      {{'UPSELL' | translate}}
    </ion-list-header>
    <ion-slides spaceBetween="8" slidesPerView="2.5" [dir]="dir">
      <ion-slide *ngFor="let y of product.upsell">
        <div class="product-item">
          <button class="fav" tappable (click)="setFav(y)" ion-button clear icon-only>
            <ion-icon no-padding name="heart{{!wishlist.isFav(y) ? '-outline' : ''}}"></ion-icon>
          </button>
          <div tappable (click)="goTo('ProductdetailPage', y)">
            <img-loader class="img" [src]="y.images[0].src">
              <ion-badge *ngIf="y.on_sale">{{y | discount}}</ion-badge>
            </img-loader>
            <h5 [innerHTML]="y.name" class="product-name"></h5>
            <div class="price">
              <span [innerHTML]="y.price_html"></span>
            </div>
            <div class="rate">
              <rating *ngIf="y.average_rating" max="5" readOnly="true" [(ngModel)]="y.average_rating">
              </rating>
              <span class="rating_count" *ngIf="y.rating_count">({{product.rating_count}})</span>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="product-slider single-product-section" *ngIf="product.related_ids.length>0 && product.related">
    <ion-list-header no-lines mode="md">
      {{'RELATED' | translate}}
    </ion-list-header>
    <ion-slides spaceBetween="8" slidesPerView="2.5" [dir]="dir">
      <ion-slide *ngFor="let y of product.related">
        <div class="product-item">
          <button class="fav" tappable (click)="setFav(y)" ion-button clear icon-only>
            <ion-icon no-padding name="heart{{!wishlist.isFav(y) ? '-outline' : ''}}"></ion-icon>
          </button>
          <div tappable (click)="goTo('ProductdetailPage', y)">
            <img-loader class="img" [src]="y.images[0].src">
              <ion-badge *ngIf="y.on_sale">{{y | discount}}</ion-badge>
            </img-loader>
            <h5 [innerHTML]="y.name" class="product-name"></h5>
            <div class="price">
              <span [innerHTML]="y.price_html"></span>
            </div>
            <div class="rate">
              <rating *ngIf="y.average_rating" max="5" readOnly="true" [(ngModel)]="y.average_rating">
              </rating>
              <span class="rating_count" *ngIf="y.rating_count">({{product.rating_count}})</span>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>

<ion-footer
  *ngIf="product.purchasable || (product.type==='external' && product.external_url) || product.type==='grouped'">
  <ion-row no-padding>
    <ion-col no-padding *ngIf="product.type==='external';else purchaseOptions" tappable (tap)="buyExternal()">
      <button ion-button full tappable icon-start class="accent-background">
        <ion-icon ios="ios-open" md="md-open"></ion-icon>
        {{'BUY_EXTERNAL_PRODUCT' | translate}}
      </button>
    </ion-col>
    <ng-template #purchaseOptions>
      <ion-col col-6 no-padding *ngIf="product.in_stock" (tap)="addToCart(true)">
        <!-- <button ion-button full tappable icon-start clear *ngIf="wishlist.isFav(product)" class="light-grey-button"
          (click)="setFav(product)">
          <ion-icon name="heart" class="accent"></ion-icon>
          {{'ADDED_TO_WISHLIST' | translate}}
        </button>
        <button ion-button full tappable icon-start clear *ngIf="!wishlist.isFav(product)" class="light-grey-button"
          (click)="setFav(product)">
          <ion-icon name="heart-outline"></ion-icon>
          {{'ADD_TO_WISHLIST' | translate}}
        </button> -->
        <button ion-button full tappable icon-start class="light-grey-button">
          <ion-icon name="md-basket"></ion-icon>
          {{'BUY_NOW' | translate}}
        </button>
      </ion-col>
      <ion-col col-6 no-padding *ngIf="product.in_stock" (tap)="addToCart()">
        <button ion-button full tappable icon-start class="accent-background">
          <ion-icon name="md-cart"></ion-icon>
          {{'ADD_TO_CART' | translate}}
        </button>
      </ion-col>

      <ion-col no-padding *ngIf="!product.in_stock">
        <button ion-button full icon-left class="accent-background">
          <ion-icon name="warning"></ion-icon>
          {{'OUT_OF_STOCK' | translate}}
        </button>
      </ion-col>
    </ng-template>
  </ion-row>
</ion-footer>