page-language-setting {
  .button {
    margin: 0;
  }

  .item-radio-checked {
    .label{
    color: var(--accent_color)!important;
    }

    .radio-checked {
      .radio-inner {
        border-color: var(--accent_color)!important;
      }
    }
  }
}
