page-address {
  ion-label {
    white-space: normal !important;
  }

  .button {
    margin: 0;
    vertical-align: top;
    @include float(end);
    ion-icon {
      color: var(--accent_color);
    }
  }

  div {
    b {
      color: var(--accent_color);
    }
  }
}
